html {
  margin: 0;
  padding: 0;
}

.form {
  border: 1px;
}

h3 {
  margin-top: 0.7em;
  margin-block-start: 0.7em;
  margin-left: 1em;
}

textarea {
  height: 5em;
}

.form-header {
  background-color: #a3cabc;
  padding: 8px;
}

.form-content {
  display: flex;
  flex-direction: row;
}

.form-left-content {
  flex: 1;
  order: 1;
  padding: 40px;
}

.form-right-content {
  flex: 1;
  order: 2;
  padding: 40px;
}

.form-footer {
  text-align: center;
  background-color: #e2e3e2;

  padding: 10px;
}

.link {
  text-decoration: underline;
  margin-left: 2px;
  padding-left: 2px;
}


.field {
  margin: 3px 10px 10px 3px;
  padding: 3px;
  display: flex;
  justify-content: space-between;

}

.field>* {
  width: 50%;
}

.field>label {
  font-weight: bold;
}

.checkboxes>* {
  display: block;
}

.checkboxes label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}

.checkboxes input {
  vertical-align: middle;
}

.checkboxes label span {
  vertical-align: middle;
}


.btn {
  background-color: #7ba896;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  width: 150px;
  height: 30px;
  border: none;
}

.required::after {
  content: " *";
  color: red;
}

.footer-image {
  height: 40px;
  width: 150px;
}